* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(105, 105, 105, 0.885);
}

.wrapper {
  width: 950px;
  background-color: #fff;
  padding-left: 80px;
  border-radius: 6px;
  margin-top: 80px;
  display: flex;
  background-image: url(./img/side.jpg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 15px;
}

h1 {
  font-size: 40px;
}

p {
  color: rgb(188, 186, 186);
  line-height: 8px;
  font-size: 15px;
}

.wrapper__content ul {
  margin-top: 50px;
  margin-bottom: 50px;
}

.wrapper__content ul li {
  list-style-type: none;
  width: 500px;
  height: 50px;
  border: 1.8px solid #dedede;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  margin-left: -40px;
}

.wrapper__content ul li a {
  text-decoration: none;
  color: grey;
  font-size: 14px;
}

.wrapper__content ul li:nth-child(1):before {
  content: url(./img/googleplus.svg);
  width: 25px;
  padding-left: 45px;
  padding-right: 100px;
}

.wrapper__content ul li:nth-child(2):before {
  content: url(./img/facebook.svg);
  width: 25px;
  padding-left: 45px;
  padding-right: 100px;
}

.wrapper__content ul li:nth-child(3):before {
  content: url(./img/twitter.svg);
  width: 25px;
  padding-left: 45px;
  padding-right: 100px;
}

.wrapper__footer {
  display: flex;
  align-items: center;
  border-top: 1px solid #dede;
  /* width: 500px; */
}

.wrapper__footer a {
  text-decoration: none;
  padding-left: 55px;
  font-size: 12px;
  color: grey;
}
